.main {
  border: 5px solid white;
  width: 300px;
  margin:0 px auto;
  color:blue;
  font-size: 2.5rem ;
  font-family: Arial, sans-serif;
  }
 table{
     width: 100%;
 }
 td{
     width:25%;
 }    
 button{
    width: 100%;
    background-color:black;
    color:white;
    height: 72px;
    font-size: 28px;
 }       
   input{
     width: 99%;
     height: 90px;
     background-color: dimgray;
     color:red;
     font-size: 30px;
     text-align: right;
     padding-right: 20px;
     font-weight: 700;
      font-family: Arial, sans-serif; ;
    }  
     button:hover {
     background-color:aliceblue;
     color: white;
     transition: 0.5s ease-in-out;
 }
 